<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="">
      <h1 class="text-4xl font-bold">【非公式】ストレングスファインダーエピソード共有アプリ</h1>
      <p class="py-6"></p>
      <%= link_to "使い方を見る", "https://qiita.com/yatchi_323/private/968f9121139472fceffe", target: :_blank, rel: "noopener noreferrer", class:"btn btn-primary" %>
    </div>
  </div>
</div>