<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="">
      <h1 class="text-4xl font-bold">【非公式】ストレングスファインダーエピソード共有アプリ</h1>
      <p class="py-6"></p>
      <button class="btn btn-primary">使い方を見る</button>
    </div>
  </div>
</div>