<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="flex link link-info">
    <strong id="following" class="stat w-1/3">
      <%= @user.following.count %>
    </strong>
    <p class="w-2/3 py-4">フォロー</p>
  </a>
  <a href="<%= followers_user_path(@user) %>" class="flex link link-info">
    <strong id="followers" class="stat w-1/3">
      <%= @user.followers.count %>
    </strong>
    <p class="w-2/3 py-4">フォロワー</p>
  </a>
</div>